*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/PresentationLayer/bin/Debug/net7.0/BusinessLogicLayer.pdb
/DataAcccesLayer/obj/Debug/net7.0/DataAcccesLayer.dll
/PresentationLayer/bin/Debug/net7.0/BusinessLogicLayer.dll
/PresentationLayer/bin/Debug/net7.0/DataAcccesLayer.dll
/PresentationLayer/bin/Debug/net7.0/DataAcccesLayer.pdb
/DataAcccesLayer/obj/Debug/net7.0/DataAcccesLayer.pdb
/DataAcccesLayer/obj/Debug/net7.0/DataAcccesLayer.genruntimeconfig.cache
/DataAcccesLayer/obj/Debug/net7.0/DataAcccesLayer.csproj.FileListAbsolute.txt
/PresentationLayer/bin/Debug/net7.0/PresentationLayer.dll
/BusinessLogicLayer/obj/Debug/net7.0/BusinessLogicLayer.genruntimeconfig.cache
/BusinessLogicLayer/obj/Debug/net7.0/BusinessLogicLayer.pdb
/BusinessLogicLayer/obj/Debug/net7.0/BusinessLogicLayer.csproj.FileListAbsolute.txt
/.vs/ApiAranda/v17/.futdcache.v2
/.vs/ApiAranda/v17/.suo
/.vs/ProjectEvaluation/apiaranda.projects.v5.2
/.vs/ProjectEvaluation/apiaranda.metadata.v5.2
/BusinessLogicLayer/bin/Debug/net7.0/BusinessLogicLayer.dll
/BusinessLogicLayer/bin/Debug/net7.0/BusinessLogicLayer.pdb
/BusinessLogicLayer/bin/Debug/net7.0/DataAcccesLayer.pdb
/BusinessLogicLayer/bin/Debug/net7.0/DataAcccesLayer.dll
/BusinessLogicLayer/obj/Debug/net7.0/BusinessLogicLayer.csproj.AssemblyReference.cache
/BusinessLogicLayer/obj/Debug/net7.0/BusinessLogicLayer.dll
/BusinessLogicLayer/obj/Debug/net7.0/BusinessLogicLayer.csproj.CoreCompileInputs.cache
/DataAcccesLayer/bin/Debug/net7.0/DataAcccesLayer.dll
/DataAcccesLayer/bin/Debug/net7.0/DataAcccesLayer.pdb
/PresentationLayer/bin/Debug/net7.0/PresentationLayer.pdb
/PresentationLayer/obj/Debug/net7.0/PresentationLayer.csproj.AssemblyReference.cache
/PresentationLayer/obj/Debug/net7.0/PresentationLayer.csproj.CoreCompileInputs.cache
/PresentationLayer/obj/Debug/net7.0/PresentationLayer.csproj.FileListAbsolute.txt
/PresentationLayer/obj/Debug/net7.0/PresentationLayer.dll
/PresentationLayer/obj/Debug/net7.0/PresentationLayer.genruntimeconfig.cache
/PresentationLayer/obj/Debug/net7.0/PresentationLayer.pdb
